# Telegram API keys
API_ID=
API_HASH=

# Telegram Bot Token
BOT_TOKEN=

# Pyrogram Session String for the Assistant Account
SESSION_STRING=

# (Optional) Chat ID where the bot should log activities or errors
LOG_GROUP_ID=
